@import '../styles/_variables.sass'

.finder
    display: grid
    padding: 5px
    height: 32px

.finder input[type=text]
    width: 350px
    background-color: #c7ecee
    font: bold 100% Tahoma
    color: $contact-name-color
    background-image: url('magnifier_zoom_icon.png')
    background-position: 5px 8px
    background-repeat: no-repeat    
    padding-left: 32px
    padding-right: -32px
    border-radius: 5px
    background-color: #c7ecee
    border: 0px

.finder input[type=text]:focus
    border: 1px solid $status-font-color


    