@import '../styles/_variables.sass'

.finder
    display: flex    

.finder input[type=text]
    width: 100%
    background-image: url('magnifier_zoom_icon.png')
    background-position: 5px 8px
    background-repeat: no-repeat    
    padding-left: 32px