<div class="content">
    <div class="box">

        <img src="assets/chat_icon_128.png" width="100px"/>

        <form>
            <label>Username:</label>
            <input type="text" placeholder="" />
            <label>Password:</label>
            <input type="password" placeholder="" />
            <div class="button-div">
                <button class="button">Login</button>
            </div>
        </form>

        <div class="links">
            <p><a href="#">Forgot Username / Password?</a></p>
            <p><a href="#">Sign Up</a></p>
        </div>

    </div>
</div>