$border-color: #bdc3c7

.grid-container
    display: grid
    grid-template-columns: 300px auto
    grid-template-rows: 50px auto 125px
    height: 100%

.top-1
    grid-column-start: 1
    grid-column-end: 2
    align-items: center
    height: 100%
    display: flex
    margin: auto

.top-2
    grid-column-start: 2
    grid-column-end: 3
    display: flex
    align-items: center


.left
    grid-column-start: 1
    grid-column-end: 2
    grid-row-start: 2
    grid-row-end: 4
    height: 100%
    overflow: scroll
    border-right: 1px solid $border-color
    border-top: 1px solid $border-color
    border-top-right-radius: 5px


.right
    grid-column-start: 2
    grid-column-end: 3
    overflow: scroll
    //border-top: 1px solid $border-color


.bottom
    grid-column-start: 2
    grid-column-end: 3
    width: 100%
    height: 100%
    display: flex
    align-items: center