
<div class="grid-container">
    <div class="top-1">
        <button (click)="logOut()">Logout</button>
        <app-search-bar></app-search-bar>
    </div>

    <div class="top-2">
        top
    </div>

    <div class="left">
        <app-contact 
            *ngFor="let contact of contacts" 
            [contact]="contact" 
            [selected] = "selected === contact"
            (click)="changeSelectionOnClick(contact);">
        </app-contact>
    </div>

    <div class="right">
        <app-message-box *ngIf="user != null && selected != null" [contact] = "selected" [user] = "user"></app-message-box>
    </div>

    <div class="bottom">
        Ble Ble Ble
    </div>

</div>
