.grid-container
    display: grid
    grid-template-columns: 300px auto
    grid-template-rows: 50px auto
    height: 100%

.top-1
    grid-column-start: 1
    grid-column-end: 2

.top-2
    grid-column-start: 2
    grid-column-end: 3
    display: flex
    align-items: center

.left
    grid-column-start: 1
    grid-column-end: 2
    height: 100%
    overflow: scroll

.right
    grid-column-start: 2
    grid-column-end: 3