$radius: 10px
$font: 'Ubuntu', sans-serif
$font-color: #2c3e50

.container
    overflow-y: scroll
    display: table
    width: 100%
    font: 15px $font
    font-weight: 300
    color: $font-color

.message-group-left
    display: grid
    grid-template-columns: 50px auto
    margin-bottom: 25px

.message-group-right
    display: grid
    grid-template-columns: auto 50px
    margin-bottom: 25px

.img-container
    display: flex
    justify-content: center
    align-items: center

.message-wrapper
    display: table-row
    width: 100%

.message
    padding: 10px
    margin-bottom: 5px
    max-width: 80%

.message-left
    float: left
    background-color: #bdc3c7
    border-top-right-radius: $radius
    border-bottom-right-radius: $radius

.message-right
    float: right
    background-color: #3498db
    color: #ecf0f1
    border-top-left-radius: $radius
    border-bottom-left-radius: $radius

.avatar-img
    vertical-align: middle
    width: 30px
    height: 30px
    margin-left: 5px
    border-radius: 50%
    float: left
    margin-left: auto
    margin-right: auto
