<div class="container">
    <div class="conversation">
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="outcoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_2.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
        <div class="incoming-message message">
            <img class="avatar-img" src="/assets/avatars/avatar_1.png" />
            This is a messahe
        </div>
    </div>

    <div class="input">
        <div class="input-div">
            <input type="text" name="message" />
        </div>
        <div class="button-div">
            <button>Send</button>
        </div>
    </div>

</div>