<div class="container">

    <div class="message-group-left">
        <div class="img-container">
            <img src="/assets/avatars/avatar_1.png" alt="Avatar" class="avatar-img">
        </div>
        <div>
            <div class="message-wrapper">
                <div class="message message-left">Content</div>
            </div>
            <div class="message-wrapper">
                <div class="message message-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut ligula commodo, porta urna
                    auctor, imperdiet velit. Maecenas efficitur mi magna, quis rhoncus magna cursus vel. Vestibulum ut
                    arcu nec tortor porta pharetra eget vitae metus. Aenean a justo viverra, vehicula arcu sit amet,
                    pretium arcu. Vestibulum fermentum nisi sit amet massa feugiat, eget semper diam molestie. Nunc eu
                    nisi dolor. Nullam bibendum commodo augue, sed ornare erat tempor a. Morbi id imperdiet neque.
                </div>
            </div>
        </div>
    </div>

    <div class="message-group-right">
        <div>
            <div class="message-wrapper">
                <div class="message message-right">Content</div>
            </div>
            <div class="message-wrapper">
                <div class="message message-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut
                    ligula commodo, porta urna auctor, imperdiet velit. Maecenas efficitur mi magna, quis rhoncus magna
                    cursus vel. Vestibulum ut arcu nec tortor porta pharetra eget vitae metus. Aenean a justo viverra,
                    vehicula arcu sit amet, pretium arcu. Vestibulum fermentum nisi sit amet massa feugiat, eget semper
                    diam molestie. Nunc eu nisi dolor. Nullam bibendum commodo augue, sed ornare erat tempor a. Morbi id
                    imperdiet neque.</div>
            </div>
        </div>
        <div class="img-container">
            <img src="/assets/avatars/avatar_2.png" alt="Avatar" class="avatar-img">
        </div>
    </div>

    <div class="message-group-left">
        <div class="img-container">
            <img src="/assets/avatars/avatar_1.png" alt="Avatar" class="avatar-img">
        </div>
        <div>
            <div class="message-wrapper">
                <div class="message message-left">Content</div>
            </div>
            <div class="message-wrapper">
                <div class="message message-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut ligula commodo, porta urna
                    auctor, imperdiet velit. Maecenas efficitur mi magna, quis rhoncus magna cursus vel. Vestibulum ut
                    arcu nec tortor porta pharetra eget vitae metus. Aenean a justo viverra, vehicula arcu sit amet,
                    pretium arcu. Vestibulum fermentum nisi sit amet massa feugiat, eget semper diam molestie. Nunc eu
                    nisi dolor. Nullam bibendum commodo augue, sed ornare erat tempor a. Morbi id imperdiet neque.
                </div>
            </div>
        </div>
    </div>

    <div class="message-group-left">
        <div class="img-container">
            <img src="/assets/avatars/avatar_1.png" alt="Avatar" class="avatar-img">
        </div>
        <div>
            <div class="message-wrapper">
                <div class="message message-left">Content</div>
            </div>
            <div class="message-wrapper">
                <div class="message message-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut ligula commodo, porta urna
                    auctor, imperdiet velit. Maecenas efficitur mi magna, quis rhoncus magna cursus vel. Vestibulum ut
                    arcu nec tortor porta pharetra eget vitae metus. Aenean a justo viverra, vehicula arcu sit amet,
                    pretium arcu. Vestibulum fermentum nisi sit amet massa feugiat, eget semper diam molestie. Nunc eu
                    nisi dolor. Nullam bibendum commodo augue, sed ornare erat tempor a. Morbi id imperdiet neque.
                </div>
            </div>
        </div>
    </div>

    <div class="message-group-right">
        <div>
            <div class="message-wrapper">
                <div class="message message-right">Content</div>
            </div>
            <div class="message-wrapper">
                <div class="message message-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut
                    ligula commodo, porta urna auctor, imperdiet velit. Maecenas efficitur mi magna, quis rhoncus magna
                    cursus vel. Vestibulum ut arcu nec tortor porta pharetra eget vitae metus. Aenean a justo viverra,
                    vehicula arcu sit amet, pretium arcu. Vestibulum fermentum nisi sit amet massa feugiat, eget semper
                    diam molestie. Nunc eu nisi dolor. Nullam bibendum commodo augue, sed ornare erat tempor a. Morbi id
                    imperdiet neque.</div>
            </div>
        </div>
        <div class="img-container">
            <img src="/assets/avatars/avatar_2.png" alt="Avatar" class="avatar-img">
        </div>
    </div>

    <div class="message-group-left">
        <div class="img-container">
            <img src="/assets/avatars/avatar_1.png" alt="Avatar" class="avatar-img">
        </div>
        <div>
            <div class="message-wrapper">
                <div class="message message-left">Content</div>
            </div>
            <div class="message-wrapper">
                <div class="message message-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut ligula commodo, porta urna
                    auctor, imperdiet velit. Maecenas efficitur mi magna, quis rhoncus magna cursus vel. Vestibulum ut
                    arcu nec tortor porta pharetra eget vitae metus. Aenean a justo viverra, vehicula arcu sit amet,
                    pretium arcu. Vestibulum fermentum nisi sit amet massa feugiat, eget semper diam molestie. Nunc eu
                    nisi dolor. Nullam bibendum commodo augue, sed ornare erat tempor a. Morbi id imperdiet neque.
                </div>
            </div>
        </div>
    </div>

    <div class="message-group-left">
        <div class="img-container">
            <img src="/assets/avatars/avatar_1.png" alt="Avatar" class="avatar-img">
        </div>
        <div>
            <div class="message-wrapper">
                <div class="message message-left">Content</div>
            </div>
            <div class="message-wrapper">
                <div class="message message-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut ligula commodo, porta urna
                    auctor, imperdiet velit. Maecenas efficitur mi magna, quis rhoncus magna cursus vel. Vestibulum ut
                    arcu nec tortor porta pharetra eget vitae metus. Aenean a justo viverra, vehicula arcu sit amet,
                    pretium arcu. Vestibulum fermentum nisi sit amet massa feugiat, eget semper diam molestie. Nunc eu
                    nisi dolor. Nullam bibendum commodo augue, sed ornare erat tempor a. Morbi id imperdiet neque.
                </div>
            </div>
        </div>
    </div>

    <div class="message-group-right">
        <div>
            <div class="message-wrapper">
                <div class="message message-right">Content</div>
            </div>
            <div class="message-wrapper">
                <div class="message message-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut
                    ligula commodo, porta urna auctor, imperdiet velit. Maecenas efficitur mi magna, quis rhoncus magna
                    cursus vel. Vestibulum ut arcu nec tortor porta pharetra eget vitae metus. Aenean a justo viverra,
                    vehicula arcu sit amet, pretium arcu. Vestibulum fermentum nisi sit amet massa feugiat, eget semper
                    diam molestie. Nunc eu nisi dolor. Nullam bibendum commodo augue, sed ornare erat tempor a. Morbi id
                    imperdiet neque.</div>
            </div>
        </div>
        <div class="img-container">
            <img src="/assets/avatars/avatar_2.png" alt="Avatar" class="avatar-img">
        </div>
    </div>

    <div class="message-group-left">
        <div class="img-container">
            <img src="/assets/avatars/avatar_1.png" alt="Avatar" class="avatar-img">
        </div>
        <div>
            <div class="message-wrapper">
                <div class="message message-left">Content</div>
            </div>
            <div class="message-wrapper">
                <div class="message message-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut ligula commodo, porta urna
                    auctor, imperdiet velit. Maecenas efficitur mi magna, quis rhoncus magna cursus vel. Vestibulum ut
                    arcu nec tortor porta pharetra eget vitae metus. Aenean a justo viverra, vehicula arcu sit amet,
                    pretium arcu. Vestibulum fermentum nisi sit amet massa feugiat, eget semper diam molestie. Nunc eu
                    nisi dolor. Nullam bibendum commodo augue, sed ornare erat tempor a. Morbi id imperdiet neque.
                </div>
            </div>
        </div>
    </div>

</div>